[user]
	name = William Langford
	email = wlangfor@gmail.com
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[push]
	default = simple
[color]
	status = auto
	ui = auto
[alias]
	tug = pull
	st = status
	dt = difftool
	vd = difftool
	pullr = pull --rebase
	rpull = pull --rebase
	diffc = diff --cached
	gist = !"git diff | gist -p -t diff"
	sr = !"git rev-parse --short HEAD"
	sh = !"git sr"
	shc = !"git sh | tr -d '\n' | pbcopy"
	src = !"git sr | tr -d '\n' | pbcopy"
	graph = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"
[core]
	editor = vim
